/* General container */
.main-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #f8f9fa;
 height: 100vh;
 box-sizing: border-box;
}

/* Profile section styling */
.profile-section {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 20px;
 width: 100%;
 padding: 10px;
 background-color: white;
 border-radius: 10px;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
 border-radius: 50%;
 width: 40px;
 height: 40px;
 margin-right: 10px;
}

.profile-dropdown {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 font-weight: bold;
 color: #333;
}

.arrow-down {
 border: solid black;
 border-width: 0 2px 2px 0;
 display: inline-block;
 padding: 3px;
 transform: rotate(45deg);
 margin-left: 5px;
}

/* Recent records section */
.record-section {
 display: flex;
 justify-content: space-between;
 width: 100%;
 background-color: white;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 margin-bottom: 20px;
}

.record-item {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.label {
 font-size: 14px;
 color: #777;
}

.value {
 font-size: 18px;
 font-weight: bold;
}

.average {
 color: #f86c6b;
}

.higher {
 color: #4dbd74;
}

/* Content boxes */
.content-box {
 width: 100%;
 background-color: white;
 padding: 20px;
 margin-bottom: 10px;
 border-radius: 10px;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 font-size: 16px;
 color: #888;
}
